.container {
  font-family: "Courier New", Courier, monospace;
}

.history {
  margin-bottom: 20px;
}

.historyEntry {
  margin-bottom: 10px;
}

.label {
  display: flex;
  align-items: center;
}

.input {
  border: none;
  padding: 10px;
  outline: none;
  background-color: transparent;
  cursor: default;
  font-family: "Courier New", Courier, monospace;
  font-size: inherit;
  color: inherit;
}
