.history {
  margin-top: 0.5rem;
}

.historyEntry {
  margin-bottom: 0.5rem;
}

.historyEntry__user {
  color: var(--green);
}

.label {
  display: flex;
  align-items: center;
}

.input {
  border: none;
  padding: 10px;
  outline: none;
  background-color: transparent;
  cursor: default;
  font-size: inherit;
  color: inherit;
  min-width: 0;
}
