.icons {
  align-items: center;
  display: flex;
}

.icons__iconContainer {
  padding: 0.5rem;
  display: grid;
  place-items: center;
  transition: 0.3s;
  &:hover {
    background-color: var(--transparent);
  }
}

.icons__iconContainer_close:hover {
  background-color: red;
}

.icons__iconContainer__icon {
  width: 15px;
  height: 15px;
}
