.container {
  background-color: var(--purple);
  border-radius: 5px;
  width: 300px;
  height: 300px;
  overflow-y: auto;
}

.containerDraggable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.containerMaximized {
  position: fixed;
  /* We need the !important to override the offsets from the draggable */
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

@media (min-width: 768px) {
  .container {
    height: 400px;
    width: 600px;
    scroll-behavior: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: gray;
    }
  }
  .containerMaximized {
    width: 100vw;
    height: 100vh;
  }
}

.body {
  padding: 0.5rem 0 0 0.5rem;
}
