.container {
  background-color: var(--purple);
  position: relative;
}

@media (min-width: 768px) {
  .container {
    height: 400px;
    width: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: gray;
    }
  }
}

.body {
  padding: 0.5rem 0 0 0.5rem;
}

.header {
  background-color: #2c2c2c;
  text-align: center;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.spacer {
  flex-grow: 1;
}

.header span {
  flex-grow: 2;
  text-align: center;
}
